@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:wght@400;900&display=swap');

// vars
$main: #1ccacd;
$main-bright: #0ffbce;
$main-dark: #0c9c9e;
$light: #f8f8f8;
$white: #fff;
$grey: rgb(133, 133, 133);


// general
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: $light;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}

.btn {
    // z-index: 99999;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

    a {
        text-decoration: none;
    }
}

.btn-fill {
    background-color: $light;
    text-align: center;
    transition: all 0.2s linear;
    color: $main !important;

    &:hover {
        box-shadow: 0px 0px 20px $white;
    }
}

.btn-border {
    background-color: transparent;
    border: 2px solid $light;
    transition: all 0.2s linear;
    color: $light;

    &:hover {
        background-color: $light;
        color: $main;
        box-shadow: 0px 0px 20px $white;
    }

}

.hide {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.fixed-top{
    z-index: 30 !important;
}

.text-main {
    color: $main;
}

.text-grey {
    color: $grey;
}

.text-light {
    color: $light !important;
}

// page-loader
.loader-wrapper {
    width: 100%;
    height: 100%;
    background: $light;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 60px;
    position: relative;
    border: 4px solid $main;
    animation: loader 2s infinite ease;
    border-radius: 20px;
  }

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $main;
    // border-radius: 20px;
    animation: loader-inner 2s infinite ease-in;
  }
// page loader end


// main
#header {
    height: 100vh;
    width: 100%;
    background: url(/img/bg.png) no-repeat center center/cover;
    position: relative;

    .wave {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
    }

    .arrow {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 10;
        cursor: pointer;
        animation: pointer 1s ease-in-out alternate infinite;
    }

    .col-12 {
        margin-bottom: 10%;
        z-index: 2;

        h4, h1 {
            color: $light;
            line-height: 60px;
        }
    }

    .scroll-mode {
        background: $light;
        transition: all 0.2s linear;
        box-shadow: 0px 20px 25px -22px rgba(0, 0, 0, 0.295);

        a {
            color: $main !important;

            &:hover {
                color: $main-dark !important;
            }
        }

        .cta {
            a {
                color: $light !important;
                background-color: $main !important;
                border-radius: 30px;
                transition: all 0.2s linear;

                &:hover, &:focus {
                    box-shadow: 0px 0px 10px #1ccacd8c !important;
                }
            }
        }
    }

    .navbar {
        position: relative;
        transition: all 0.2s linear;

        .navbar-nav {
            .nav-link {
                color: $light;
                transition: all 0.2s linear;

                &:hover {
                    color: $main-dark;
                }

                &:last-child {
                    color: $light;
                    background-color: transparent;
                    border: 2px solid $light;
                    border-radius: 30px;
                    transition: all 0.2s linear;
                    text-align: center;

                    &:hover, &:focus {
                        background-color: $light;
                        color: $main;
                        transform: scale(0.9);
                        box-shadow: none;
                    }
                }
            }
        }

        .cta {
            a {
                color: $main;
                background-color: $light;
                border-radius: 30px;
                transition: all 0.2s linear;

                &:hover, &:focus {
                    box-shadow: 0px 0px 20px $white;
                }
            }
        }

        .navbar-toggler {
            outline: none !important;
            svg {
                width: 30px;
                rect {
                    fill: $light;
                }
            }
        }

    }
}

#products {
    min-height: 100%;
    width: 100%;
    position: relative;

    .card {
        background: #49C2BB;
        width: 100%;
        height: 229px;
        border: none;
        border-radius: 30px;
        transition: all 0.2s linear;
        transform: rotate(0);
        position: relative;

        &:hover {
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            transform: scale(1.01);
            transform: rotate(5.13deg);

            .card-body {
                p, h4, a {
                    transform: rotate(-5.13deg) !important;
                    transition: transform 0.2s linear;
                }

                a {
                    box-shadow: 0 0 20px #fff;
                    transition: all 0.2s linear;
                }
            }
        }

        &:hover::after {
            transform: scale(1.01);
            transform: rotate(-10.13deg);
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            // width: 325px;
            width: inherit;
            height: 229px;
            background: linear-gradient(118.45deg, #1CCACD 0%, #11FFE2 100%);
            border-radius: inherit;
            // transform: rotate(-10.13deg);
            transform: rotate(0);
            transition: transform 0.2s linear;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            

            & > p, & > a, & > h4 {
                // transform: rotate(-5.13deg);
                transform: rotate(0);
            }

            h4, p {
                transition: transform 0.2s linear;
            }

            a {
                text-decoration: none;
                color: #1CCACD;
                background: rgb(238, 237, 237);
                width: auto;
                padding: 10px 20px;
                margin-top: 5px;
                border: none;
                border-radius: 20px;
                transition: all 0.2s linear;

                // &:hover {
                //     box-shadow: 0 0 20px #fff;
                //     transition: all 0.2s linear;
                // }
            }
        }
    }
}

#about-us {
    min-height: 100%;
    width: 100%;
    background: url(/img/abt-us-bg-2.png) no-repeat center top/cover;
    position: relative;
    padding-top: auto;
    padding-bottom: auto;

    img {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
    }

    p {
        padding: 10px;
    }

    a {
        margin: 20px;
        transform: scale(1.2);
        transition: all 0.2s linear;
    }

    .shadow {
        margin-top: 2rem !important;
        text-shadow: none;
        box-shadow: none !important;

        @media screen and (max-width:991px) {
            text-shadow: 0px 2px 2px rgba(82, 80, 80, 0.07);
        }
    }

    .container {
        position: relative;
    }

    .innert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line {
        width: 70%;
        height: 5px;
        border-radius: 5px;
        background-color: $white;
        margin-top: 10px;
        margin:auto;
    }

    .invest {
        margin: 20px;
        width: 100%;

        p {
           line-height: 1.8rem;
           font-size: 1.2rem;
            &::before {
                content: open-quote;
                font-size: 2rem;
                position: relative;
                top: 10px;
            }
            &::after {
                content: close-quote;
                font-size: 2rem;
                position: relative;
                top: 10px;
            }
        }
    }
}

#faqs {
    position: relative;
    max-width: 100%;

}

#accordion {
    .card {
        border-radius: 0;
        background-color: $white;
    }

}

#contact-us {
    position: relative;
    max-width: 100%;

    .style {
        padding: 1px;
        margin: 20px;
        border-radius: 20px;
        width: 100%;
        box-shadow: none;
        transition: all 0.2s ease-in-out;

        @media screen and (max-width:500px){
            box-shadow: 0 5px 10px -5px rgba(68, 68, 68, 0.2);
        }

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 10px 15px -10px rgba(29, 29, 29, 0.2);

        }

        iframe {
            border-radius: 20px;
            border: 1px sold $main !important;
            margin: auto;
            height: 400px;
        }
    }

    form {
        .form-group {
            .form-control {
                background: none !important;
                padding: 10px 20px;
                border: none;
                border-radius: 0;
                border-bottom: 2px solid $main;

                &::placeholder {
                    font-size: 0.85rem;
                }
            }


            small {
                font-size: 0.75rem;
                margin-left: 20px;
            }

        }
            button.btn-contact {
                background-color: $main !important;
                border-radius: 0 !important;
                color: $light;
                transition: all 0.2s linear;
                border-radius: 5px !important;

                &:hover {
                    box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.26);
                    transform: scale(1.03);
                }
            }
    }
}

#footer {
    position: relative;
    height: 400px;
    background: url('/img/footer-bg.png') no-repeat center top/cover;

    .row {
        position: absolute;
        bottom: 100px;
        left: 0;

        @media screen and (max-width: 420px){
            top: 100px;
        }

        .inner {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: -100px;
            text-align: center;

            @media screen and(max-width:420px){
                flex-direction: column-reverse;
            }

            a {
                color: $light;
                text-decoration: none;
                transition: all 0.2s linear;

                &:hover {
                    color: darken($color: rgb(2, 77, 58), $amount: 1);
                }
            }
        }
    }

    .font {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
    }

    img {
        width: 100%;
        position: absolute;
        top: -5px;
        left: 0;
    }

    @media screen and (max-width:420px){
        height: 100vh;
    }
}



// ipad breakpoint
@media screen and (max-width: 991px) and (min-width: 768px) {
    #header {
        .col-12 {

            h4,h1 {
                line-height: 45px !important;
            }
    
            h4 {
                font-size: 2.2rem !important;
            }
            h1 {
                font-size: 5rem !important;
            }

        }
    }
}

// mobile-ipad breakpoint
@media screen and (max-width: 969px){
    #header {
        .col-12 {

            h4,h1 {
                line-height: 25px;
            }
    
            h4 {
                font-size: 1.6rem;
            }
            h1 {
                font-size: 3rem;
            }

        }

        .navbar {
            border-radius: 0 0 10px 10px;
            .logo {
                width: 150px;
            }

            .navbar-nav {
                .nav-link {
                    margin-left: auto;

                    &:last-child {
                        border-radius: none !important;
                        border: none !important;
                    }
                }
            }
        }

        .scroll-mode > .navbar-toggler {
            svg {
                width: 30px;
                rect {
                    fill: $main !important;
                }
            }
        }

    }
}

// desktop 
@media screen and (min-width: 991px) {
    #header {
        .col-12 {

            h4,h1 {
                line-height: 45px !important;
            }
    
            h4 {
                font-size: 2.2rem !important;
            }
            h1 {
                font-size: 5rem !important;
                font-weight: bold;
            }

        }
    }
}

// animations
@keyframes pointer {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(8px);
    }
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

@keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }